.frameNumber{
padding-left: 35px;
}
.conatiner{
    background-color: bisque;
    height: 1000px;
    width: 1400px;
    padding: 20px;
}

.input{
    width: 500px;
    margin-left: 400px;
    text-align: center;
    height: 190px;
}
.input1{
    display: flex;
  
    margin-left: 140px;
}
.error{
    color: red;
}

.lastt{
  width: 300px;
}

.button {
    margin-left: 30px;
    margin-top: 5px;
    
  
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}

.alert {
    
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    0% { opacity: 1; }
  }
